.navbar {background: #EDE9FF ;}
background-color{background-color: #E7B276}
.custom-progress-width{width:5cm;}
.custom-progress-color{background-color: pink}
.custom-progress-p{margin-top: 10px;margin-bottom: 0px}
